$bor:1px solid #dcdcdc;
#order-btn{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 50px;
	border-top: $bor;
	text-align: center;
	background: white;
	line-height: 50px;
	font-size: 16px;
	.total{
		color: #f84a4a;
	}
	.sub-order{
		background: #f84a4a;
		color: white;
	}
}