/* @import "reset.scss";
@import "nav.scss";
@import "bg.scss";
@import "list_banner_pro.scss";
@import "list_nav_list.scss";
@import "list_prolist.scss";
@import "list_aside.scss"; */
main {
    background: #e1e1e1;
}

.still-top {
    position: fixed;
    top: 0;
    z-index: 999;
    width:100%;
}

