html * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  -webkit-text-size-adjust: none; }

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0; }

body {
  font: 62.5% 'Heiti SC', 'Helvetica', 'HelveticaNeue', 'Droidsansfallback', "Droid Sans", 'Dengxian', 'Segoe', 'microsoft yahei';
  overflow-x: hidden;
  color: #333; }

body {
  font-size: 12px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%; }

address,
cite,
dfn,
em,
var,
i {
  font-style: normal; }

ul,
ol {
  list-style: none; }

a {
  text-decoration: none;
  display: block; }

a:focus,
input:focus,
textarea:focus {
  outline: none; }

a:link,
a:visited {
  color: #333333; }

a:hover,
a:active {
  color: #333333;
  text-decoration: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea {
  resize: none; }

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"]::-webkit-file-upload-button,
button,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0; }

html {
  font-size: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

html,
body {
  background-color: #eee;
  max-width: 640px;
  margin: 0 auto;
  padding: 0 0 0 0; }

img,
embed,
object,
video,
iframe {
  width: auto;
  max-width: 100%;
  height: auto; }

.cl {
  clear: both; }

.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: "."; }

.flex {
  display: -ms-flexbox;
  /* IE10 */
  display: -webkit-box;
  /* Safari */
  display: -webkit-flex;
  /* Chrome, WebKit */
  display: box;
  display: flexbox;
  display: flex;
  width: 100%; }

.flex-item {
  float: none;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%; }

main {
  background: #e1e1e1;
  padding-bottom: 50px; }

.more {
  text-align: center;
  padding: 15px 0;
  padding-bottom: 14px;
  font-size: 14px;
  color: #666; }

#mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 66;
  background: black;
  opacity: 0.6;
  width: 100%;
  height: 100%; }

#backtop {
  position: fixed;
  background: url(../img/allbgs.png) no-repeat 0px -261px;
  height: 72px;
  padding-left: 74px;
  bottom: 52px;
  right: -10px;
  -webkit-transform: scale(0.48);
      -ms-transform: scale(0.48);
          transform: scale(0.48); }

.bg-white-r {
  background: url(../img/allbgs2.png) no-repeat 0px 0px;
  height: 22px;
  padding-left: 24px; }

.bg-d-3 {
  background: url(../img/allbgs2.png) no-repeat 0px -22px;
  height: 26px;
  padding-left: 28px; }

.bg-d-4 {
  background: url(../img/allbgs2.png) no-repeat 0px -48px;
  height: 26px;
  padding-left: 28px; }

.bg-d-2 {
  background: url(../img/allbgs2.png) no-repeat 0px -74px;
  height: 26px;
  padding-left: 28px; }

.bg-d-1 {
  background: url(../img/allbgs2.png) no-repeat 0px -100px;
  height: 26px;
  padding-left: 28px; }

.bg-fenxian {
  background: url(../img/allbgs2.png) no-repeat 0px -126px;
  height: 42px;
  padding-left: 33px; }

.bg-embuycar, #nav_footer ul .buycar em {
  background: url(../img/allbgs2.png) no-repeat 0px -168px;
  height: 59px;
  padding-left: 62px; }

.bg-type, #nav_footer ul .ident em {
  background: url(../img/allbgs2.png) no-repeat 0px -227px;
  height: 60px;
  padding-left: 63px; }

.bg-type-on, #nav_footer ul .ident .on {
  background: url(../img/allbgs2.png) no-repeat 0px -287px;
  height: 60px;
  padding-left: 63px; }

.bg-embuycar-on, #nav_footer ul .buycar .on {
  background: url(../img/allbgs2.png) no-repeat 0px -347px;
  height: 60px;
  padding-left: 62px; }

.bg-my-on, #nav_footer ul .me .on {
  background: url(../img/allbgs2.png) no-repeat 0px -407px;
  height: 60px;
  padding-left: 50px; }

.bg-home, #nav_footer ul .index em {
  background: url(../img/allbgs2.png) no-repeat 0px -467px;
  height: 60px;
  padding-left: 62px; }

.bg-home-on, #nav_footer ul .index .on {
  background: url(../img/allbgs2.png) no-repeat 0px -527px;
  height: 60px;
  padding-left: 62px; }

.bg-my, #nav_footer ul .me em {
  background: url(../img/allbgs2.png) no-repeat 0px -587px;
  height: 60px;
  padding-left: 50px; }

.bg-back {
  background: url(../img/allbgs.png) no-repeat 0px -261px;
  height: 72px;
  padding-left: 74px; }

.bg-like, #list ul li .pri-buy em {
  background: url(../img/allbgs.png) no-repeat 0px 0px;
  height: 36px;
  padding-left: 44px; }

.bg-like-on, #list ul li .pri-buy .eon {
  background: url(../img/allbgs.png) no-repeat 0px -36px;
  height: 36px;
  padding-left: 44px; }

.bg-car, #list ul li .pri-buy i {
  background: url(../img/allbgs.png) no-repeat 0px -72px;
  height: 38px;
  padding-left: 39px; }

.bg-fenxian {
  background: url(../img/allbgs.png) no-repeat 0px -110px;
  height: 42px;
  padding-left: 33px; }

.bg-one {
  background: url(../img/allbgs.png) no-repeat 0px -152px;
  height: 50px;
  padding-left: 52px; }

.bg-car-on, #list ul li .pri-buy .ion {
  background: url(../img/allbgs.png) no-repeat 0px -202px;
  height: 55px;
  padding-left: 57px; }

.bg-d-close {
  background: url(../img/detail-icon.png) no-repeat 0px -197px;
  height: 44px;
  padding-left: 45px; }

.bg-d-car {
  background: url(../img/detail-icon.png) no-repeat 0px -160px;
  height: 30px;
  padding-left: 32px; }

.bg-d-xin2 {
  background: url(../img/detail-icon.png) no-repeat 0px -125px;
  height: 31px;
  padding-left: 39px; }

.bg-gt {
  background: url(../img/detail-icon.png) no-repeat 0px 0px;
  height: 25px;
  padding-left: 16px; }

.bg-d-xin {
  background: url(../img/detail-icon.png) no-repeat 0px -55px;
  height: 31px;
  padding-left: 39px; }

.bg-d-fenxian {
  background: url(../img/detail-icon.png) no-repeat 0px -86px;
  height: 36px;
  padding-left: 28px; }

.bg-bar-sr {
  background: url(../img/bar.png) no-repeat 0px 0px;
  height: 42px;
  padding-left: 33px; }

.bg-bar-bk {
  background: url(../img/bar.png) no-repeat 0px -42px;
  height: 50px;
  padding-left: 52px; }

.bg-bar-hm {
  background: url(../img/bar.png) no-repeat 0px -92px;
  height: 50px;
  padding-left: 50px; }

#nav_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 2px 0;
  background: white;
  border-top: 1px solid #ddd;
  z-index: 999;
  padding-top: 6px; }
  #nav_footer ul li {
    color: #666;
    float: left;
    width: 25%;
    text-align: center;
    font-size: 12px; }
    #nav_footer ul li em {
      display: inline-block;
      -webkit-transform: scale(0.4);
          -ms-transform: scale(0.4);
              transform: scale(0.4);
      margin: -18px; }
  #nav_footer ul .ident em {
    position: relative;
    left: 5px; }
  #nav_footer ul .buycar i {
    position: absolute;
    display: inline-block;
    padding: 2px;
    border-radius: 69px;
    width: 18px;
    height: 18px;
    color: white;
    top: -5px;
    right: -3px;
    text-align: center;
    line-height: 14px;
    background: #F84343;
    -webkit-transform: scale(1.8);
        -ms-transform: scale(1.8);
            transform: scale(1.8); }

#aside {
  position: fixed;
  font-size: 14px;
  color: white;
  left: 0;
  top: 0;
  width: 60%;
  height: 100%;
  background: white;
  padding: 10px;
  border-right: 1px solid #d2d2d2;
  padding-top: 55px;
  z-index: 88; }
  #aside .on {
    background: #f84343 !important; }
  #aside h3 {
    font-size: 14px;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px; }
  #aside .btn {
    margin-top: 40px; }
    #aside .btn span {
      display: inline-block;
      padding: 8px;
      text-align: center;
      width: 100%;
      background: #f84343;
      border-radius: 5px;
      font-size: 14px;
      font-weight: bold;
      color: white; }
  #aside .change-brand {
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd; }
    #aside .change-brand ul li {
      float: left;
      background: #c1c1c1;
      padding: 5px 0px;
      border-radius: 5px;
      width: 25%;
      text-align: center;
      margin-right: 7%;
      margin-bottom: 10px; }
  #aside .list-way .ls-type {
    padding: 0 10%; }
  #aside .list-way h3 {
    margin-top: 10px; }
  #aside .list-way ul li {
    background: #c1c1c1;
    padding: 5px 10px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 4px; }

.bg-white-r {
  background: url(../img/allbgs2.png) no-repeat 0px 0px;
  height: 22px;
  padding-left: 24px; }

.bg-d-3 {
  background: url(../img/allbgs2.png) no-repeat 0px -22px;
  height: 26px;
  padding-left: 28px; }

.bg-d-4 {
  background: url(../img/allbgs2.png) no-repeat 0px -48px;
  height: 26px;
  padding-left: 28px; }

.bg-d-2 {
  background: url(../img/allbgs2.png) no-repeat 0px -74px;
  height: 26px;
  padding-left: 28px; }

.bg-d-1 {
  background: url(../img/allbgs2.png) no-repeat 0px -100px;
  height: 26px;
  padding-left: 28px; }

.bg-fenxian {
  background: url(../img/allbgs2.png) no-repeat 0px -126px;
  height: 42px;
  padding-left: 33px; }

.bg-embuycar, #nav_footer ul .buycar em {
  background: url(../img/allbgs2.png) no-repeat 0px -168px;
  height: 59px;
  padding-left: 62px; }

.bg-type, #nav_footer ul .ident em {
  background: url(../img/allbgs2.png) no-repeat 0px -227px;
  height: 60px;
  padding-left: 63px; }

.bg-type-on, #nav_footer ul .ident .on {
  background: url(../img/allbgs2.png) no-repeat 0px -287px;
  height: 60px;
  padding-left: 63px; }

.bg-embuycar-on, #nav_footer ul .buycar .on {
  background: url(../img/allbgs2.png) no-repeat 0px -347px;
  height: 60px;
  padding-left: 62px; }

.bg-my-on, #nav_footer ul .me .on {
  background: url(../img/allbgs2.png) no-repeat 0px -407px;
  height: 60px;
  padding-left: 50px; }

.bg-home, #nav_footer ul .index em {
  background: url(../img/allbgs2.png) no-repeat 0px -467px;
  height: 60px;
  padding-left: 62px; }

.bg-home-on, #nav_footer ul .index .on {
  background: url(../img/allbgs2.png) no-repeat 0px -527px;
  height: 60px;
  padding-left: 62px; }

.bg-my, #nav_footer ul .me em {
  background: url(../img/allbgs2.png) no-repeat 0px -587px;
  height: 60px;
  padding-left: 50px; }

.bg-back {
  background: url(../img/allbgs.png) no-repeat 0px -261px;
  height: 72px;
  padding-left: 74px; }

.bg-like, #list ul li .pri-buy em {
  background: url(../img/allbgs.png) no-repeat 0px 0px;
  height: 36px;
  padding-left: 44px; }

.bg-like-on, #list ul li .pri-buy .eon {
  background: url(../img/allbgs.png) no-repeat 0px -36px;
  height: 36px;
  padding-left: 44px; }

.bg-car, #list ul li .pri-buy i {
  background: url(../img/allbgs.png) no-repeat 0px -72px;
  height: 38px;
  padding-left: 39px; }

.bg-fenxian {
  background: url(../img/allbgs.png) no-repeat 0px -110px;
  height: 42px;
  padding-left: 33px; }

.bg-one {
  background: url(../img/allbgs.png) no-repeat 0px -152px;
  height: 50px;
  padding-left: 52px; }

.bg-car-on, #list ul li .pri-buy .ion {
  background: url(../img/allbgs.png) no-repeat 0px -202px;
  height: 55px;
  padding-left: 57px; }

.bg-d-close {
  background: url(../img/detail-icon.png) no-repeat 0px -197px;
  height: 44px;
  padding-left: 45px; }

.bg-d-car {
  background: url(../img/detail-icon.png) no-repeat 0px -160px;
  height: 30px;
  padding-left: 32px; }

.bg-d-xin2 {
  background: url(../img/detail-icon.png) no-repeat 0px -125px;
  height: 31px;
  padding-left: 39px; }

.bg-gt {
  background: url(../img/detail-icon.png) no-repeat 0px 0px;
  height: 25px;
  padding-left: 16px; }

.bg-d-xin {
  background: url(../img/detail-icon.png) no-repeat 0px -55px;
  height: 31px;
  padding-left: 39px; }

.bg-d-fenxian {
  background: url(../img/detail-icon.png) no-repeat 0px -86px;
  height: 36px;
  padding-left: 28px; }

.bg-bar-sr {
  background: url(../img/bar.png) no-repeat 0px 0px;
  height: 42px;
  padding-left: 33px; }

.bg-bar-bk {
  background: url(../img/bar.png) no-repeat 0px -42px;
  height: 50px;
  padding-left: 52px; }

.bg-bar-hm {
  background: url(../img/bar.png) no-repeat 0px -92px;
  height: 50px;
  padding-left: 50px; }

main {
  background: #e1e1e1; }

#banner_pro {
  background: white;
  padding-top: 22px; }
  #banner_pro .pic,
  #banner_pro .info {
    float: left; }
  #banner_pro .pic {
    width: 50%;
    background: white;
    text-align: center;
    position: relative; }
    #banner_pro .pic img {
      height: 150px; }
    #banner_pro .pic em {
      position: absolute;
      left: 6%;
      top: -22px;
      background: black;
      color: white;
      font-size: 12px;
      display: block;
      width: 33px;
      padding: 2px 0; }
  #banner_pro .info {
    width: 50%; }
    #banner_pro .info .mouth {
      margin-bottom: 16px;
      color: #999;
      margin-top: 10px;
      text-align: left; }
      #banner_pro .info .mouth span {
        margin: 0 2%; }
      #banner_pro .info .mouth em {
        display: inline-block;
        width: 30%;
        border: 1px solid #eee;
        position: relative;
        top: -4px; }
    #banner_pro .info .tit {
      font-size: 14px;
      color: #666;
      margin-top: 17px;
      padding-right: 10px; }
    #banner_pro .info .pri {
      font-size: 16px;
      font-family: arial;
      color: #f84343;
      margin-top: 20px;
      font-weight: bold; }

.nav-on {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999; }

.still-top {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%; }

#nav_list {
  background: white;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  height: 39px; }
  #nav_list .first {
    position: relative;
    top: -30px; }
    #nav_list .first .on {
      padding: 7px 0 !important; }
  #nav_list ul {
    width: 100%;
    white-space: nowrap;
    position: relative;
    top: 1px;
    display: inline; }
    #nav_list ul .scroll {
      display: inline-block;
      overflow-x: scroll;
      overflow-y: hidden;
      width: 85%; }
      #nav_list ul .scroll .box {
        display: inline-block; }
  #nav_list .on {
    color: #f84343;
    padding: 6px 0 !important;
    border-bottom: 2px solid #f84343; }
  #nav_list li {
    color: #a1a1a1;
    font-size: 14px;
    display: inline-block;
    padding: 12px 23px;
    position: relative;
    top: 1px; }
    #nav_list li span {
      color: #666;
      font-size: 14px; }

#list {
  margin-top: 10px; }
  #list ul {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #list ul li {
      width: 50%;
      float: left;
      padding: 4%;
      background: white;
      padding-bottom: 2%;
      padding-top: 8%;
      position: relative; }
      #list ul li:nth-child(odd) {
        border-right: 1px solid #ddd; }
      #list ul li:nth-child(even) {
        border-bottom: 1px solid #ddd;
        border-right: 1px solid white; }
      #list ul li .pic {
        text-align: center; }
        #list ul li .pic em {
          position: absolute;
          top: 10px;
          left: 15px;
          width: 33px;
          padding: 2px 0;
          text-align: center;
          font-size: 12px;
          background: #f84343;
          color: white; }
        #list ul li .pic img {
          max-width: 80%; }
      #list ul li .tit {
        color: #666;
        font-size: 12px;
        margin: 4px 0;
        margin-bottom: -2px; }
      #list ul li .pri-buy {
        line-height: 27px;
        position: relative; }
        #list ul li .pri-buy span {
          color: #f84343;
          font-family: arial;
          font-size: 16px;
          font-weight: bold; }
        #list ul li .pri-buy em,
        #list ul li .pri-buy i {
          display: inline-block;
          position: relative; }
        #list ul li .pri-buy em {
          position: relative;
          top: 13px;
          left: -8px;
          -webkit-transform: scale(0.35);
              -ms-transform: scale(0.35);
                  transform: scale(0.35); }
        #list ul li .pri-buy i {
          float: right;
          position: absolute;
          top: 12px;
          -webkit-transform: scale(0.5);
              -ms-transform: scale(0.5);
                  transform: scale(0.5);
          right: -12px; }
        #list ul li .pri-buy .ion {
          top: 3px;
          float: right;
          padding-left: 56px; }
